@import url("./css-vars.scss");

.group {
    > :nth-child(n) {
        margin: 0 10px;
    }
}
.VPHome {
    .name {
        font-size: 41px!important;
    }
    .text {
        font-size: 45px!important;
    }
}

